[submodule "SuperSimpleDev-course/JavaScript/javascript-amazon-project-practice"]
	path = SuperSimpleDev-course/JavaScript/javascript-amazon-project-practice
	url = https://github.com/ptviethoang/amazon-js.git
