img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 60px;
  vertical-align: middle;
}

.textbox {
  color: grey;
  font-size: 18px;
  border: none;
  margin-left: 10px;
  vertical-align: middle;
}
button{
  margin-left: 60px;
  background-color: rgb(14, 175, 250);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: solid;
  vertical-align: middle;
}