.x-post {
  display: flex;
  font-family: Arial;
  width: 500px;
}

.picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 12px;
}

.right-column {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.user {
  display: flex;
  margin-bottom: 5px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.user-name {
  color: gray;
  margin-left: 5px;
}

.content {
  font-size: 18px;
  margin-bottom: 15px;
}

.thumbnail {
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.thumbnail-picture {
  background-color: rgba(128, 128, 128, 0.438);
  width: 104px;
  height: 104px;
}

.youtube {
  padding: 15px 0;
  padding-left: 15px;
  flex: 1;
}

.youtube-link {
  color: gray;
  font-size: 18px;
  margin-bottom: 5px;
}

.youtube-title {
  font-size: 18px;
}